# Created by .ignore support plugin (hsz.mobi)

##remove unused
.idea/.gitignore
.idea/cnlab_springboot_tpl.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
logPath_IS_UNDEFINED/
src/main/resources/email/
src/main/resources/generator.properties
src/main/resources/generatorConfig.xml
src/main/resources/sql/
src/test/
target/
/src/main/java/com/ds/dss/mbg/CommentGenerator.java
/src/main/java/com/ds/dss/mbg/Generator.java
